.h1 {
  margin: 0 0 12px 0;
  font-size: 20px;
  font-weight: 700;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  padding: 10px;
  text-align: left;
  background: green;
  color: blue;
  font-weight: 600;
  border-bottom: 1px solid blue;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid green;
}
