.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #0b0f14;
}

.formCard {
  background: #ffffff;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0px 8px 20px rgba(3, 8, 19, 0.06);
  border: 1px solid rgba(3, 8, 19, 0.05);
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.label {
  font-size: 15px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 6px;
  display: block;
}

.input,
.select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  font-size: 15px;
  color: #374151;
  outline: none;
  transition: 0.2s;
}

.input:focus,
.select:focus {
  border-color: #618aa8;
  background: white;
}



.btnRow {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btnPrimary {
  flex: 1;
  padding: 12px 0;
  background: #618aa8;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.btnPrimary:hover {
  background: #4a7591;
}

.btnCancel {
  flex: 1;
  padding: 12px 0;
  background: #e5e7eb;
  color: #374151;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.btnCancel:hover {
  background: #d1d5db;
}
