.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.contentArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f5f6fa;
}

.pageContent {
  padding: 24px;
  height: calc(100vh - 70px); 
  overflow-y: auto;
}
