.app {
  display: flex;
  height: 100vh;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #f6f8f9;
  color: #0b0f14;
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}


.content {
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 64px); 
}
